<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>controller.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServletListener</servlet-name>
        <servlet-class>controller.UserServletListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrescriptionServlet</servlet-name>
        <servlet-class>controller.PrescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPrescriptionServlet</servlet-name>
        <servlet-class>controller.ViewPrescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEmployeesController</servlet-name>
        <servlet-class>controller.AdminEmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientChargeController</servlet-name>
        <servlet-class>controller.PatientChargeController</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>PatientAppointmentsServlet</servlet-name>
        <servlet-class>controller.PatientAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeEmployeeServlet</servlet-name>
        <servlet-class>controller.removeEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeTimetableServlet</servlet-name>
        <servlet-class>controller.EmployeeTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>controller.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controller.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEmployeesController</servlet-name>
        <url-pattern>/AdminEmployeesController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeTimetableServlet</servlet-name>
        <url-pattern>/EmployeeTimetableServlet.do</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PatientAppointmentsServlet</servlet-name>
        <url-pattern>/PatientAppointmentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientChargeController</servlet-name>
        <url-pattern>/PatientChargeController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeEmployeeServlet</servlet-name>
        <url-pattern>/removeEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/usersServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServletListener</servlet-name>
        <url-pattern>/UserServletListener.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrescriptionServlet</servlet-name>
        <url-pattern>/PrescriptionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPrescriptionServlet</servlet-name>
        <url-pattern>/ViewPrescriptionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/InvoiceController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
